<tr class="{{entry.class}}">
	<td>{{entry.ID}}</td>
	<td>{{entyy.Tipo}}</td>
	<td>{{entry.Nombre}}</td>
	<td>{{entry.Descripción}}</td>
	<td>{{entry.Rol}}</td>
	<td>{{entry.Periodo}}</td>
	<td>{{entry.Área}}</td>
	<td>{{entry.Aprendizaje}}</td>
	<td>{{entry.Competencia}}</td>
</tr>
